.head-list{ 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    list-style: none;
    font-size: 16px;
    margin-right:50px;
  }
.nav-list{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  list-style: none;
  margin-bottom: 0;
}
.nav-pills{
  border-radius: 0px;
}
.nav-link{
  text-decoration: none;
  color: white;
  /* width: 33%; */
  text-align: center;
  border-radius: 0px;
}
nav-pills.show>.nav-link {
  background-color: #FAB00C;
}
.pageactive{
  background-color: #FAB00C;
  color: white;
  /* width: 33%; */
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}
.productCard{
  margin-top: 1%;
  display: flex; 
  align-items: stretch;
  padding-left: 15px;
}
.card{
  margin-top: 1%;
  display: inline-block;
  width: 25%;
  margin-right: 1.5%;
  cursor: pointer;
}
.card-text{
  color: #FAB00C; 
  font-size: 20px;
}
#taskInfo{
  width: 94%;
}
#taskInfo>p{
  /* background-color: lightgray; */
  background-color: #faefd6;
  font-size: 20px;
  padding: 0.5%;
}
.videoRemind{
  color: red; 
 
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #mainPage{
    height: 400px; 
  }
}
@media (min-width: 992px) {
  #mainPage{
    height: 600px; 
  }
}
@media (min-width: 1900px) {
  #mainPage{
    height: 1500px; 
  }
}